* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.topnav {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: transparent;
	color: white;
	justify-content: space-between;
	padding: 11px;
	position: fixed;
	top: 0;
	right: 0;
}
#container-menu {
	display: none;
}

#container-menu.showMenu {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	margin-top: 11px;
	color: white;
}

#section-hero {
	height: 100vh;
	width: 100%;
	margin-top: -68px;
	background-image: url("../image/cactus.png");
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title-hero {
	color: white;
	text-transform: capitalize;
	font-size: xxx-large;
}
